.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 50px 0;
}
.nav li {
    width: calc( 100% / 5);
    background-color: #bfbebe;
    border-radius: 10px;
    padding: 5px 10px;
}
.nav li img{
    width: 40px;
    margin-right: 3px;
}
.nav li a{
    display: flex;
    align-items: center;
    color: #252525;
    font-weight: bold;
    font-size: 26px;
    justify-content: space-around;
}
.nav li a span{
    display: block;
    font-size: 12px;
    color: #807d7d;
}